<div style="width: <TAG_WIDTH>; height: <TAG_HEIGHT>; float: left"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="magmaswf" width="<TAG_WIDTH>" height="<TAG_HEIGHT>" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab"><param name="movie" value="<TAG_URL>"/><param name="quality" value="high"/><param name="bgcolor" value="<TAG_BG_COLOR>"/><param name="allowScriptAccess" value="sameDomain"/><embed src="<TAG_URL>" quality="high" bgcolor="<TAG_BG_COLOR>" width="100%" height="100%" name="magmaswf" align="left" play="true" loop="false" quality="high" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer"></embed></object></div>