/* CSS Document */

a.kk:active, a.kk:visited, a.kk:link {font-family:Tahoma; font-size:12px; color:#114680; text-decoration:underline;}
a.kk:hover {color:#114680; text-decoration:none;}
a.kk1:active, a.kk1:visited, a.kk1:link {font-family:Tahoma; font-size:12px; color:#555555; text-decoration:underline;}
a.kk1:hover {color:#555555; text-decoration:none;}
body{margin:0px;}
.bodybg{
    filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#DCDADA', gradientType='0');
    font-family:Tahoma;
    font-size:12px;
    font-style:regular;     
}

.pageTitle {
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: #cc092f;
}

.paddingTitle {
    padding-left:67px;
    padding-top:37px;
}

.paddingTitleDesc {
font-family: Tahoma;
font-size: 12px;
font-weight: normal;
color: #000000;
padding-left:67px; 
width:500px;
}
.paddingTopColumns {
    padding-top: 20px
}
 
.paddingTopFields {
    padding-top: 10px
}

.paddingLeft {
    padding-left:30px;   
}


.buttonbg {
    background-color:#4e4d4e;
}

TR.class_hover{
    text-align: left;
    font-size: 12px;
    font-weight:bold;
    vertical-align: middle;
    background-color: #B1CFF5;
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */

}
TR.class_no_hover{ 
    font-size: 12px;
    font-weight:bold;
    vertical-align: middle;
    /* background-color: #D0E4F8; */
    text-align: left;
}


.panelbg {
    background-color: #e5e3e3;
    font-family:Tahoma;
    font-size:12px;
    font-style:regular;
}

.projectionTree{
    border : solid 2px #ffffff;
    padding : 4px;
    width : 300px;
    height : 170px; 
    overflow : auto;
    background-color:#FFFFFF
}

.label{
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.pagetext{
    font-family: Tahoma;
    font-size: 12px;
    color: #000000;
}

.success{
color:blue;
font-family: Tahoma;
font-size: 12px;
font-weight:bold;
}

.error{
color:red;
font-family: Tahoma;
font-size: 12px;
font-weight:bold;
}

.thumbnail-itemOut {
float: left; 
border: 1px #000000; 
cursor: pointer;
text-align: center;
background-color: #4d4d4d;
width: 152px;
height: 152px;
vertical-align:middle;
font-family:Tahoma;
font-size:13px;
font-weight:bold;
color:#FFFFFF; 
text-align:center;
vertical-align:middle;
}

.thumbnail-itemIn{
margin:3px;     
position:relative;      
width: 144px;
height: 101px;
background:#ffffff
}    

.thumbnail-itemIn img {
margin: 0px;
}

.label {
font-family: Tahoma;
font-size: 12px;
font-weight:bold;
color:black;
text-decoration:none;
}

.body {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: regular;
    color: #000000;
}

/* CSS Document */

.title{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#333333;
	}
.redtitle{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#cb092d;
	}
.redtitle1{
	font-family:Tahoma;
	font-size:15px;
	font-weight:bold;
	color:#cc092f;
	}
	
.bluetitle{
     color:blue;
    }
    
.bluelink{
	font-family:Tahoma;
	font-size:12px;
	color:#114680;
	}
.bodytext{
	font-family:Tahoma;
	font-size:12px;
	color:#000000;
	}
.white1text{
	font-family:Tahoma;
	font-size:14px;
	color:#ffffff;
	}
.white1text1{
	font-family:Arial;
	font-size:11px;
	color:#ffffff;
	}
.border{
	border-collapse:collapse;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	}
.border1{
	border-collapse:collapse;
	border-style:solid;
	border-width:1px;
	border-color:#b5b5b5;
}
.textfiled {
	background-color:#f7f7f7;
	border-collapse:collapse;
	border-style:solid;
	border-width:1px;
	border-color:#b6b6b6;
	width:190px;
    padding-top:2px;
}



.listbox1 {
	background-color:#f7f7f7;
	border-collapse:collapse;
	border-style:solid;
	border-width:1px;
	border-color:#939393;
	width:190px;
    padding-top:2px;
}

.tablebg{
	background-image:url(/magma/images/portal/bg.jpg)
}

.mattblacktabs{
width: 100%;
overflow: hidden;
border-bottom: 1px solid #304049;
}

.mattblacktabs ul{
margin: 0;
padding-left: 0px;
font: normal 11px Tahoma; 
list-style-type: none;
}

.mattblacktabs li{
display: inline;
float: left;
margin: 0;
font-weight:bold;
color:#5F6D4A;
font-weight:bold;
}

.mattblacktabs li span{
border-collapse:collapse;
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 7px 22px; 
border: 1px solid #304049; 
color:#ffffff;
background: #000000;
cursor: pointer;
}

.mattblacktabs li span:hover, .mattblacktabs li.selected span{
font-family:Tahoma;
font-size:11px;
color:#000000;
background: #c0c0c0; 
cursor:pointer;
}

.mattblacktabs li a{
border-collapse:collapse;
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 7px 22px; 
border: 1px solid #304049; 
color:#ffffff;
background: #000000;
cursor: pointer;
}

.mattblacktabs li a:hover, .mattblacktabs li.selected a{
font-family:Tahoma;
font-size:11px;
color:#000000;
background: #c0c0c0; 
cursor:pointer;
}


.border1{
	border-collapse:collapse;
	border-style:solid;
	border-width:1px;
	border-color:#b5b5b5;
}

.stitle{
	font-family:Tahoma;
	font-size:14px;
	color:#000000;
}

.dateClass{
	width: 10.0em;
}

